MONGODB_CONNECTION_STRING=mongodb+srv://user:password@cluster.mongodb.net/?appName=CodePushCluster
MONGODB_DATABASE_NAME=codepush
CODEPUSH_JWT_SECRET=your-secret-key-min-32-chars-generate-with-openssl-rand-base64-48
